:root {
  --brand-color: #212121;
  --accent-color: #2196f3;
  --grey-color: #757575;
  --background-color: #2f303a;
  --white-color: #f5f4fa;
}
*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--accent-color);
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--brand-color);
}
.main__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  border-bottom: 1px solid #ececec;
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}
.header__index {
  display: flex;
  align-items: center;
}
.header__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: inherit;
  text-decoration: none;
  margin-right: 93px;
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__logo:hover,
.header__logo:focus {
  color: var(--accent-color);
}
.header__title {
  color: var(--accent-color);
}
.nav {
  display: flex;
  gap: 46px;
  justify-content: flex-start;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  list-style-type: none;
  flex-grow: 1;
}
.nav__link {
  position: relative;
  display: block;
  color: inherit;
  text-decoration: none;
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}
.nav__link--active::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  transform: translateY(26px);
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey-color);
}
.header__link {
  display: flex;
  padding: 25px;
  color: inherit;
  text-decoration: none;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link .header__icon {
  fill: var(--grey-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover,
.header__link:focus {
  color: var(--accent-color);
}
.header__list-item:hover .header__icon,
.header__list-item:focus .header__icon {
  fill: var(--accent-color);
}
.card-a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 94px 0;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./../images/Img-overlay.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
}
.card-a__title {
  display: block;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}
.card-a__btn {
  display: block;
  padding: 10px 41px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 1.87;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.card-b__list {
  justify-content: space-between;
  list-style-type: none;
  display: flex;
  padding: 94px 0;
  gap: 30px;
}
.card-b__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.card-b__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}
.card-b__icon {
  transition: transform 0.5s ease-in-out;
}
.card-b__icon:hover,
.card-b__icon:focus {
  transform: rotate(90deg);
}
.card-b__figure {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--white-color);
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}
.main-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}
.main-images {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 30px;
}
.card-c__index {
  padding-bottom: 94px;
}
.card-c__list {
  position: relative;
}
.card-c__image {
  display: block;
}
.card-c__figure {
  position: absolute;
  bottom: 0;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
}
.card-d {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 94px 15px;
  background-color: var(--white-color);
}
.card-d__list {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}
.card-d__title {
  padding: 30px 15px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}
.card-d__subtitle {
  font-size: 16px;
  padding: 0 15px;
  padding-bottom: 30px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--grey-color);
  text-align: center;
}
.card-d__aside {
  height: 260px;
  width: 100%;
  overflow: hidden;
}
.card-d__image {
  transition: transform 1s ease-in-out;
}
.card-d__image:hover,
.card-d__image:focus {
  transform: scale(1.1);
}
.main-tabs {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
  gap: 10px;
  padding-bottom: 30px;
}
.main-figure {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-figure:hover,
.main-figure:focus {
  background-color: var(--accent-color);
}
.main-figure:hover .card-d__icon,
.main-figure:focus .card-d__icon {
  fill: white;
}
.card-d__icon {
  fill: #afb1ba;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-e {
  padding-top: 94px;
}
.card-e__list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-top: 0;
  padding-bottom: 94px;
}
.card-e__list .card-e__icon {
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: fill, border-color, transform;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-e__link:hover .card-e__icon,
.card-e__link:focus .card-e__icon {
  fill: #2196f3;
  transform: scale(1.1);
}
.card-e__icon:hover,
.card-e__icon:focus {
  border-color: #2196f3;
}
.card-f {
  color: var(--white-color);
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 94px 50px;
}
.card-f__btn {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  letter-spacing: 0.03em;
  border: none;
  padding: 6px 22px;
  transition-property: box-shadow, transform;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-f__btn:hover,
.card-f__btn:focus-within {
  color: inherit;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transform: scale(1.1);
}
.card-g__index {
  flex-wrap: wrap;
  padding-bottom: 94px;
}
.card-g__item {
  flex-basis: calc((100% - 30px * 3) / 3);
  background: #fff;
  border: 1px solid #eee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-g__item:hover,
.card-g__item:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-g__title {
  font-size: 18px;
  line-height: 2;
  margin: 20px 0 4px;
  letter-spacing: 0.06em;
  padding-left: 24px;
}
.card-g__subtitle {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  padding: 0 24px 20px;
  color: var(--grey-color);
}
.card-g__image {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.card-g__item:hover .card-g__aside {
  transform: translateY(0%);
}
.card-g__figure {
  position: relative;
  overflow: hidden;
}
.card-g__figure p {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #fff;
}
.card-g__aside {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(101%);
}
.footer {
  background-color: var(--background-color);
}
.footer__body {
  display: flex;
  justify-content: flex-start;
  padding: 60px 0;
}
.footer__logo {
  font-family: "Raleway";
  display: inline-block;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__logo:hover,
.footer__logo:focus {
  color: var(--accent-color);
}
.footer__title {
  color: var(--accent-color);
}
.footer__index {
  display: block;
  font-style: normal;
  color: #fff;
}
.footer__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}
.footer__list {
  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}
.footer__link {
  display: block;
  margin-bottom: 9px;
  color: inherit;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover,
.footer__link:focus {
  color: var(--accent-color);
}
.tabs-footer__title {
  color: white;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 20px;
}
.tabs-footer {
  display: flex;
  flex-direction: column;
  padding-left: 70px;
}
.tabs-footer__icon {
  fill: white;
}
.tabs-footer__link {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: transform 1s ease-in-out;
}
.tabs-footer__link:hover,
.tabs-footer__link:focus {
  transform: scale(1.1);
}
.footer__actions {
  margin-left: 78px;
}
.footer-actions__group {
  display: flex;
  gap: 12px;
}
.footer-actions__input {
  box-sizing: border-box;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--background-color);
  padding-left: 16px;
  outline: none;
  color: #fff;
  line-height: 1.25;
  font-size: 16px;
  letter-spacing: 0.03em;
  transition: border-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-actions__input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.footer-actions__input:not(:placeholder-shown) {
  border-color: var(--accent-color);
}
.footer-actions__input:hover,
.footer-actions__input:focus {
  border-color: var(--accent-color);
}
.footer-actions__btn {
  display: flex;
  align-items: center;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px;
  cursor: pointer;
  gap: 30px;
  border-style: none;
}
.footer-actions__title {
  letter-spacing: 0.06em;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
}
.footer-actions__icon {
  fill: #fff;
}
.modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window {
  position: relative;
  box-sizing: border-box;
  max-width: 528px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: initial;
  padding: 40px;
}
.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.5);
}
.modal-window__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-window__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window__btn:hover .modal-window__icon,
.modal-window__btn:focus .modal-window__icon {
  fill: var(--accent-color);
}
.modal-form__title {
  display: block;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}
.modal-form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--grey-color);
  padding-top: 10px;
  margin-bottom: 4px;
}
.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 1.16;
  transition: border-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__input {
  display: block;
  position: relative;
  margin-top: 4px;
}
.modal-form__input input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 13px 42px;
  font-size: 12px;
  transition: border-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input input:hover,
.modal-form__input input:focus {
  border-color: var(--accent-color);
}
.modal-form__input input:hover + .modal-form__icon,
.modal-form__input input:focus + .modal-form__icon {
  fill: var(--accent-color);
}
.modal-form__textarea:hover,
.modal-form__textarea:focus {
  border-color: var(--accent-color);
}
.modal-checkbox__input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
  transform: translateY(4px);
  border: solid 2px var(--brand-color);
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}
input:checked + .modal-checkbox__input {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.modal-checkbox {
  display: flex;
  align-items: flex-start;
}
.modal-form__btn {
  display: block;
  padding: 10px 80px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  color: #fff;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.875;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
